<!doctype html>
<link rel="stylesheet" href="/static/maketing.css" type="text/css"
media="screen" />
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<body>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head"><span class="rainbow">MaRvEl ApI</span></h1>
        <p class="splash-subhead">
      <form>
      <INPUT Type="BUTTON" VALUE="Want Some Cool Beans?" class="pure-button pure-button-primary" ONCLICK="window.location.href='/coolstuff'"> 
      </form>
        </p>
    </div>
</div>
</html>